@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary-300: #a78bfa;
  --color-primary-400: #8b5cf6;
  --color-primary-500: #7c3aed;
  --color-primary-600: #6d28d9;
  --color-accent-500: #ec4899;
  --color-neutral-100: #f5f5f5;
  --color-neutral-800: #262626;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
